.left-nav{
	visibility: hidden;
	}
#images{
	padding:10px;
	margin-left:0px;
	width:100%;
}
#images li{
	width:100%;
	margin:0px auto;
	margin-bottom:30px;
}
.stream-img-item{
        text-align:left;
        list-style:none;
        width:100%;
        margin-bottom:10px;
    }
    .stream-img{
        width:100%;
        height:auto;
        margin-left:-10px;
        box-shadow:none;
    }
    .special{
        visibility: hidden;
        height:0px;

    }
    .mobile-guy{
        visibility: visible;
        height:auto;
    }
    h4{
        margin-right:15px;
        font-size:18px;
    }